mixin main-nav()
	-
		const data = {
			links: [
				{
					href: "#",
					text: "How to play",
					dataModal: "how-to-play",
					icon: "icon-game-controller",
				},
				{
					href: "#",
					text: "Prizes",
					dataModal: "prizes",
					icon: "icon-gift",
				},
				//- {
				//- 	href: "#",
				//- 	text: "Leaderboard",
				//- 	dataModal: "leaderboard",
				//- 	icon: "icon-article",
				//- },
				{
					href: "#",
					text: "Terms",
					dataModal: "terms",
					icon: "icon-list-numbers",
				},
			],
		}

	nav.main-nav
		.main-nav__wrapper 
			ul.main-nav__list
				each item in data.links
					li.main-nav__list-item 
						a.main-nav__list-link(href=item.href data-open-modal=item.dataModal)
							+icon(item.icon, 32, 32).main-nav__list-link-icon
							span.main-nav__list-link-name=item.text