mixin screen01 ()
	-
		const data = {
			title: "Please confirm your year of birth",
			form: {
				month: {
					inputType: "text",
					inputName: "month",
					inputPlaceholder: "mm",
					inputMinLength: 2,
					inputMaxLength: 2,
				},
				day: {
					inputType: "text",
					inputName: "day",
					inputPlaceholder: "dd",
					inputMinLength: 2,
					inputMaxLength: 2,
				},
				year: {
					inputType: "text",
					inputName: "year",
					inputPlaceholder: "yyyy",
					inputMinLength: 4,
					inputMaxLength: 4,
				},
				btn: "confirm",
			}
		}
	section.screen.screen01
		.container.screen01__container
			h1.screen__title=data.title
			.screen__form.form-wrapper(data-validate)
				form.age-control-form(action="#", method="post")
					fieldset.screen__form-fieldset
						+custom-input(data.form.month).screen__form-input.screen__form-input--month(data-validate-type="text")
						+custom-input(data.form.day).screen__form-input.screen__form-input--day(data-validate-type="text")
						+custom-input(data.form.year).screen__form-input.screen__form-input--year(data-validate-type="text")
					button.btn.btn--submit.screen__form-btn(type="submit")=data.form.btn