mixin screen03 ()
	-
		const data = {
			title: {
				title1: "Play the Ar game and get a chance to ",
				title2: "win tickets ",
				title3: "to the Champions League Final",
			},
			btn: {
				tag: "button",
				text: "play",
			}
			
		}
	
	section.screen.screen03
		.screen__strips.screen03__strips
			- for(let i = 0; i < 6; i++)
				.screen__strips-item.screen03__strips-item
		.container.screen03__container
			.screen__pic
				+icon("ucl-ticket-pic", 235, 317)
			h1.screen03__title
				span.screen03__title-span.screen03__title-span--start=data.title.title1
				span.screen03__title-span.screen03__title-span--middle=data.title.title2
				span.screen03__title-span.screen03__title-span--end=data.title.title3
			+btn(data.btn).screen03__btn