.screen {
	width: 100%;
	height: 100%;
	padding: 1em 0 0;
	@include vp-374 {
		padding: 0;
	}
	&__title {
		margin: 0;
		padding: 0 1em;
		font-weight: 400;
		font-size: 15px;
		line-height: 17px;
		text-align: center;
	}
	&__form {
		margin: 4vh 0 2vh;
		width: 100%;
		flex: 1 1 auto;
		form {
			width: 100%;
		}
		&-fieldset {
			width: 100%;
			height: 146px;
			display: flex;
			justify-content: center;
			border: 0;
			padding: 0;
			margin: 0;
		}
		&-input {
			width: 100%;
			max-width: 3em;
			margin: 0;
			label input {
				width: 100%;
				min-height: initial;
				margin-left: 0;
				border: 0;
				background: $color-transparent;
				color: $color-default-white;
				text-align: center;
				font-style: italic;
				font-weight: 700;
				font-size: 1em;
				line-height: calc(100% + 3px);
				text-transform: uppercase;
				padding: 1em 0 0.9em;
				border-radius: 0;
				box-shadow: 0px 1px rgba($color-default-white, 0.2);
				&:hover,
				&:focus {
					border: 0;
					box-shadow: 0px 1px rgba($color-default-white, 0.2);
				}
				&::placeholder {
					color: $color-default-white;
					opacity: 0.2;
				}
			}
			&--month {
				max-width: 100%;
				&::after {
					content: "/";
					font-size: 18px;
					line-height: calc(100% + 3px);
					opacity: 0.2;
					position: absolute;
					top: 50%;
					right: -3px;
					transform: translateY(-50%);
				}
				label input {
					text-align: right;
					padding: 1em 0.5em 0.9em;
				}
				&.is-valid {
					&::after {
						opacity: 1;
					}
				}
			}
			&--day {
				max-width: 3em;
				&::after {
					content: "/";
					font-size: 18px;
					line-height: calc(100% + 3px);
					opacity: 0.2;
					position: absolute;
					top: 50%;
					right: -3px;
					transform: translateY(-50%);
				}
				&.is-valid {
					&::after {
						opacity: 1;
					}
				}
			}
			&--year {
				max-width: 100%;
				label input {
					text-align: left;
					padding: 1em 0.5em 0.9em;
				}
			}
			.custom-input__error {
				line-height: 16px;
				right: auto;
				bottom: -1.7em;
				font-size: 12px;
				color: $color-default-white;
			}
			&.is-invalid {
				input {
					border: 0;
					box-shadow: 0 1px rgba($color-torch-red, 0.2);
					&:hover,
					&:focus {
						border: 0;
						box-shadow: 0 1px rgba($color-torch-red, 0.2);
					}
				}
				.custom-input__error {
					opacity: 0.5;
				}
			}
			&.is-valid {
				input {
					box-shadow: 0 2px $color-default-white;
					&:hover,
					&:focus {
						border: 0;
						box-shadow: 0 2px $color-default-white;
					}
				}
			}
		}
		&-btn {
			width: 100%;
			margin: 0.515em 0 0;
			opacity: 0.1;
			transition: opacity $trans-default;
			&:hover {
				opacity: 1;
			}
			@include vp-374 {
				font-size: 2.5em;
			}
		}
	}
	&__pic {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 223px;
		height: 30vh;
	}
	&__strips {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 25px;
		right: 25px;
		z-index: -1;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-column-gap: 1em;
		transition: all $trans-600;
		transform-style: preserve-3d;
		&-item {
			background: $color-lima-to-transparent;
			opacity: 0.3;
			transition: all $trans-600;
		}
		&.is-scaled {
			transform: scale(1.6) translateY(-25%);
		}
		&.is-scaled3D {
			transform: perspective(400px) scale(3) translateY(-25%) rotateX(-60deg);
		}
	}
}

.screen00 {
	&__form {
		&-input {
			max-width: 100%;
		}
	}
}

.screen01 {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 290px);
	}
	&__change-location {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			font-style: italic;
			font-weight: 700;
			font-size: 1em;
			line-height: calc(100% + 3px);
			text-align: center;
			text-transform: uppercase;
			color: $color-default-white;
		}

		svg {
			width: 1.5em;
			height: 1.5em;
			margin-left: 0.5em;
		}
		&.is-hidden {
			display: none;
		}
	}
	&__age-control-form {
		.screen__form-input {
			.custom-input__error {
				width: 210px;
				height: 77px;
				min-height: 77px;
				background-color: $color-default-white;
				box-shadow: 0px 10px 20px rgba($color-default-black, 0.15);
				border-radius: 25px;
				top: -1em;
				left: 0;
				transform: translateX(calc(-50% - 1.5em));
				font-size: calc(1em - 3px);
				line-height: calc(100% + 2px);
				color: $color-green;
				text-align: center;
				padding: 1em;
				z-index: 1;
				&--bold {
					font-weight: 700;
				}
				&::after {
					content: '';
					width: calc(1em + 3px);
					height: calc(1em + 3px);
					display: inline-block;
					background-color: $color-default-white;
					border-radius: 2px;
					position: absolute;
					top: auto;
					bottom: -6px;
					left: 50%;
					transform: translateX(-50%) rotate(45deg);
					z-index: -1;
				}
				@include vp-374 {
					font-size: 1em;
				}
				&.is-active {
					opacity: 1;
				}
			}
			&.is-invalid {
				.custom-input__error {
					opacity: 1;
				}
			}
		}
	}
}

.screen02 {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100vh - 290px);
	}
	&__form {
		&-fieldset {
			flex-direction: column;
		}
		&-input {
			max-width: 100%;
			padding: 0;
			label input {
				position: initial;
			}
			&.is-invalid {
				input {
					box-shadow: 0 2px $color-venetian-red;
				}
			}
		}
		&-btn {
			margin: 0.48em 0 0;
		}
	}
}

.screen03 {
	margin-top: 1em;
	padding: 0;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: calc(100vh - 290px);
	}
	&__title {
		width: 100%;
		max-width: 435px;
		font-weight: 700;
		font-size: 1em;
		line-height: 1.5em;
		text-align: center;
		text-transform: uppercase;
		padding: 0 1em;
		margin: 0.55em auto;
		&-span {
			&--middle {
				font-style: italic;
				font-weight: 400;
			}
		}
	}
	&__btn {
		width: 100%;
		max-width: 425px;
		font-size: 3.55em;
		line-height: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.2em auto 0 auto;
		font-style: italic;
		font-weight: 700;
		text-transform: uppercase;
		background-color: $color-transparent;
		border: 0;
	}
}

.screen04 {
	margin-top: 0;
	padding-top: 0.89em;
	&__container {
		height: 100%;
	}
	&__title {
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.78em;
		line-height: 113%;
		padding: 0 0.5em;
		&-span {
			&--start,
			&--end {
				font-weight: 800;
			}
			&--middle {
				font-weight: 400;
				font-style: italic;
			}
		}
	}
	&__pic-wrapper {
		position: relative;
		top: -40px;
		bottom: 0;
		right: 0;
		left: 0;
		max-height: 61vh;
		height: 100%;
		perspective: 500px;
	}
	&__pic {
		position: absolute;
		top: 0;
		bottom: 0;
		transition: all $trans-600;
		&--left {
			left: 4vw;
			top: 2vh;
			cursor: pointer;
			transform: scale(1);
			&.is-hidden {
				transform: scale(0);
			}
		}
		&--right {
			right: 4vw;
			transform: scale(1);
			cursor: pointer;
			&.is-hidden {
				transform: scale(0);
			}
		}
		picture,
		img {
			width: 100%;
			height: 100%;
		}
	}
}

.screen05 {
	&__pic-wrapper {
		width: 100%;
		height: 95vh;
		transition: transform $trans-600;
		transform: scale(1.55) translateY(95px);
	}
	&__btn {
		position: absolute;
		top: auto;
		bottom: 10vh;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		max-width: 425px;
		font-size: 3.55em;
		line-height: 73px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0.2em auto 0 auto;
		font-style: italic;
		font-weight: 700;
		text-transform: uppercase;
		background-color: $color-transparent;
		border: 0;
		z-index: 3;
	}
}

.screen06 {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		justify-content: space-between;
		height: calc(100vh - 290px);
		@include vp-374 {
			height: calc(100vh - 250px);
		}
	}
	&__text-block {
		display: flex;
		justify-content: center;
		align-items: center;
		width: calc(100% - 2 * 53px);
		@include vp-374 {
			width: calc(100% - 2 * 20px);
		}
		&--bottom {
			margin-bottom: auto;
		}
	}
	&__text {
		margin: 0;
		text-align: center;
		font-size: calc(1em - 3px);
	}
	&__progress-bar-wrapper {
		width: calc(100% - 2 * 30px);
		height: 8px;
		min-height: 8px;
		border-radius: 5px;
		background-color: rgba($color-default-white, 0.3);
		position: relative;
		margin: 5vh 0;
	}
	&__progress-bar {
		width: 40%; // временная
		height: 100%;
		background-color: $color-default-white;
		transition: all $trans-default;
		border-radius: inherit;
		position: absolute;
		top: 0;
		left: 0;
	}
	&__logo-box {
		// max-width: 219px;
		margin-top: 5vh;
		width: calc(100% - 2 * 78px);
		max-height: 40px;
		svg {
			max-height: inherit;
		}
	}
}

.screen07 {
	&__container {
		height: 60vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__result-wrapper {
		width: 100%;
		padding: 0 calc(2em - 1px);
		@include vp-374 {
			padding: 0;
		}
	}
	&__result {
		width: 100%;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-default-white;
		border-radius: 32px;
		position: relative;
		&-points {
			width: 100%;
			height: 18vh;
			border-radius: 16px;
			background: $color-mantis-to-green;
			display: flex;
			flex-direction: column;
			align-items: center;
			&-text {
				display: block;
				font-size: calc(1em - 3px);
				line-height: 17px;
				padding: 20px 0 5px;
				opacity: 0.5;
			}
			&-number {
				display: block;
				font-style: italic;
				font-weight: 700;
				font-size: calc(2em - 4px);
			}
			&-share {
				&-text {
					width: 100%;
					display: block;
					font-size: calc(1em - 3px);
					line-height: 17px;
					opacity: 0.5;
					color: $color-green;
					text-align: center;
				}
				&-link {
					font-size: 1em;
					line-height: calc(1em + 3px);
					background: $color-mantis-to-green-02;
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
					background-clip: text;
					text-fill-color: transparent;
					text-transform: uppercase;
					font-style: italic;
					padding: 14px;
					display: inline-block;
				}
			}
		}
		&-pic {
			position: absolute;
			max-width: 160px;
			top: 10vh;
		}
		&-title {
			background: $color-mantis-to-green-02;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-transform: uppercase;
			margin-top: 52px;
			margin-bottom: 22px;
		}
	}
	&__btn {
		font-style: italic;
		font-weight: 700;
		font-size: calc(3em + 10px);
		line-height: calc(100% + 9px);
		justify-content: center;
		align-items: center;
		background-color: $color-transparent;
		text-align: center;
		text-transform: uppercase;
		color: $color-default-white;
		display: inline-block;
		width: 100%;
		margin: 20px 0 0;
		padding: 0;
		z-index: 10;
		@include vp-374 {
			font-size: 2.5em;
		}
	}
	&__text {
		font-size: calc(1em - 3px);
		line-height: calc(100% + 2px);
	}
}
