.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;

  // @include vp-1439 {
  //   padding: 0 80px;
  // }

  // @include vp-1023 {
  //   padding: 0 40px;
  // }

  @include vp-768 {
    max-width: 535px;
    padding: 0 80px;
  }
}
