//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-how-to-play
//- include ./modals/modal-selected-player

//- Blocks

//- include ./blocks/intro
include ./blocks/screen00
include ./blocks/screen01
include ./blocks/screen02
include ./blocks/privacy-policy
include ./blocks/screen03
include ./blocks/main-nav
include ./blocks/screen04
include ./blocks/screen05
include ./blocks/screen06
include ./blocks/screen07
include ./blocks/screen08
//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
